{% extends 'nobel/base.html' %}
<!-- {% load crispy_forms_tags  %} -->

{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
    <center><h1>Dashboard</h1></center>
    <table width="100%" id="mytable" class="table table-striped">
        <thead>
            <tr>
                <th>Query</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody> 
            {% for row in Mapper %}
                <tr class="data_rows">
                    <td>{{row.0}}</td>
                    <td>
                        <a href="{% url 'selectedresult' row.1 %}" style="text-decoration:none;">
                            <button type="button" class="button" style="background-color: #57b846; color: white; 
                            padding-left: 20px; padding-top: 5px; padding-bottom: 5px; padding-right: 20px; margin-bottom: 0px;">
                                <span>Details</span>
                            </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
      
{% endblock %}