{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'nobel/Logo.png' %}"/>
    <title>My Graph</title>
    <link rel="stylesheet" type="text/css" href= "{% static 'nobel/style.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   
    <script type="text/javascript">
        setTimeout(function() {
            $('#message').fadeOut('fast');
        }, 1000); // <-- time in milliseconds
    </script>
</head>
<body>
    <div class="limiter">
        <div class="container-login100">    
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="https://colorlib.com/etc/lf/Login_v1/images/img-01.png" alt="IMG">
                </div>
                <form class="login100-form validate-form" action="" method="POST">
                    {% csrf_token %}
                    <span class="login100-form-title">
                        My Graph Application
                    </span>
                    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                        {{ form.username|add_class:'input100' }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate = "Password is required">
                        {{ form.password|add_class:'input100' }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    {% for message in messages %}
                        <div class="text-center p-t-12 alert alert-danger" id="message" role="alert">
                            <span {% if message.tags %} class="{{ message.tags }}"{% endif %}
                            style="margin-top: 5px; margin-bottom: 5px;">
                                {{ message }}
                            </span>
                        </div> 
                    {% endfor %}
                       
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                    <br/>
                    <br/>
                    <div class="text-center p-t-70">
                        <h3 class="txt2">
                            Developed By Hassan Ashfaq & Taimur Khan
                        </h3>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>